.displayEducation{
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    min-width: 500px;
    max-width: 1000px;
    align-items: center;
    justify-items: center;
}

.fullName{
    grid-area: 1/2/2/4;
    align-self: center;
}
.location{
    grid-area: 2/1/3/2;
    
}
.email{
    grid-area: 2/1/3/2;
    
}
.email{
    grid-area: 2/2/3/3;
    
}
.phoneNumber{
    grid-area: 2/3/3/4;
    
}

.location::after, .email::after, .phoneNumber::after{
    content: '|';
    margin-left: 20px;
    
}