
.firstLine{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.firstLine>h3:not(.startDate)::after{
    content: '|';
    padding: 0 20px;
}
.startDate::after{
    content: '-';
    padding: 0 20px;
}
.positionTitle{
    text-align: left;
}
